.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    justify-self: center;
    justify-content:space-around;
    height: 80px;
}

.header-left{
    display: flex;
    gap: 10px;
}

.header-right{
    display: flex;
    gap: 35px;
    margin-left: auto;
}

a {
    color: black;
}

.header-img{
    width: 75px;
    height: 30px;
}