.welcome{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 200px;
    gap: 10px;
    position: relative;
}

.welcome-content {
    grid-column: 2/3;
}

.welcome-img {
    height: 350px;
    width: 550px;
}

.welcome-txt {
    text-align: center;
}

.welcome-button {
    grid-row: 2/2;
    grid-column: 2/3;
    background-color: #0058AB;
    justify-content: center;
    align-items: center;
    height: 60px;
    width:320px;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    align-self: center;
    justify-self: center;
}